@import "tailwindcss";

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", Meiryo, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New"                                                                      , monospace , "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --colour-link-base :   0, 0, 255;
  --colour-link-hover: 255, 0,   0;
}

@layer base {
  html {
    @apply h-full text-gray-800 break-all cursor-default scrollbar-gutter-stable;
    
    text-decoration-skip-ink: none;
    background: color-mix(in srgb, var(--color-yellow-50) 50%, transparent);
  }
  
  body {
    @apply h-full;
  }
  
  a {
    @apply cursor-crosshair;
    
    color: rgb(var(--colour-link-base));
    
    &:hover {
      @apply underline;
      
      color: rgb(var(--colour-link-hover));
    }
  }
  
  input[type="text"], input[type="url"], input[type="password"], textarea, button {
    @apply border-[2px] border-dashed border-sky-500 py-1 px-2 text-sky-500 font-mono;
    
    &:not(:disabled)::placeholder {
      color: color-mix(in srgb, var(--color-sky-400) 50%, transparent);
    }
    
    &:disabled {
      @apply border-slate-500 text-slate-400 cursor-not-allowed;
      
      background: color-mix(in srgb, var(--color-slate-100) 50%, transparent);
      
      &::placeholder {
        color: color-mix(in srgb, var(--color-slate-400) 50%, transparent);
      }
    }
  }
  
  input[type="text"], input[type="url"], input[type="password"], textarea {
    @apply block w-full bg-white;
  }
  
  input[type="radio"], input[type="checkbox"] {
    @apply cursor-pointer;
  }
  
  textarea {
    @apply min-h-20;
  }
  
  button {
    @apply cursor-pointer;
    
    background: color-mix(in srgb, var(--color-sky-100) 50%, transparent);
    
    &:hover:not(:disabled) {
      background: color-mix(in srgb, var(--color-sky-200) 35%, transparent);
    }
    &:focus:not(:disabled) {
      background: color-mix(in srgb, var(--color-sky-200) 60%, transparent);
    }
  }
  
  fieldset {
    @apply border border-slate-500 pt-2 px-4 pb-4 space-y-4 bg-white;
    
    & > legend {
      @apply mb-0 pl-1 pr-2 font-bold;
    }
  }
  
  label {
    @apply block;
  }
  
  :is(form, fieldset) > label {
    @apply space-y-1;
  }
  
  main {
    @apply max-w-4xl mx-auto pt-12 px-4 pb-16;
  }
  
  h1 {
    @apply mb-8 font-bold text-2xl text-center;
  }
  
  table {
    @apply w-full border border-slate-500;
    
    & :is(th, td) {
      @apply border border-slate-500 py-1 px-2;
    }
    
    thead :is(th, td), tbody th {
      @apply text-center whitespace-nowrap bg-slate-100;
    }
    
    thead :is(th, td) {
      @apply align-middle;
    }
    
    tbody :is(th, td) {
      @apply align-top;
    }
    
    tbody td {
      @apply bg-white;
    }
  }
}

@layer components {
  .loading {
    @apply font-bold text-amber-600 text-sm;
    
    animation: fade-first-view-animation .2s .75s ease forwards;  /* duration delay の順 */
    opacity: 0;
  }
  .fade-redirect {
    animation: fade-first-view-animation .3s 1.5s ease forwards;
    opacity: 0;
    
    & a:hover {
      text-decoration: underline overline;
    }
  }
  @keyframes fade-first-view-animation {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .form-danger {
    & :is(input[type="text"], input[type="url"], input[type="password"], textarea, button) {
      @apply border-rose-500 text-rose-600;
      
      &:not(:disabled)::placeholder {
        color: color-mix(in srgb, var(--color-rose-400) 50%, transparent);
      }
    }
    
    & button {
      background: color-mix(in srgb, var(--color-rose-100) 50%, transparent);
      
      &:hover:not(:disabled) {
        background: color-mix(in srgb, var(--color-rose-200) 35%, transparent);
      }
      &:focus:not(:disabled) {
        background: color-mix(in srgb, var(--color-rose-200) 60%, transparent);
      }
    }
  }
  
  .form-label-memo { @apply ml-2 text-slate-500 text-sm; }
  
  .form-radio-buttons {
    @apply space-x-4;
    
    & > label {
      @apply inline cursor-pointer;
    }
  }
  
  .pager-links { @apply space-x-2 text-sm text-center; }
  
  .site-card { @apply border border-slate-500 p-3 bg-white; }
  
  :is(.site-comment-card, .post-card) { @apply mb-4 border-b border-slate-300 pb-4; }
  
  .tag { @apply inline-block mr-2 mb-2 p-1 text-sky-600 text-sm bg-sky-50; }
  
  .text-muted { @apply text-slate-500; }
  
  :is(.alert-danger, .alert-warning, .alert-success) { @apply p-4; }
  .alert-danger  { @apply text-red-600     bg-red-50    ; }
  .alert-warning { @apply text-amber-600   bg-amber-50  ; }
  .alert-success { @apply text-emerald-600 bg-emerald-50; }
  
  :is(.label-success, .label-info) { @apply p-1 font-bold; }
  .label-success { @apply text-emerald-600 bg-emerald-50; }
  .label-info    { @apply text-indigo-600  bg-indigo-50 ; }
}
